body {
	background: #16a085;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}

h1 {
	font-size: 1.5em;
}

.container {
	width: 70%;
	height: 465px;
	max-width: 320px;
	box-sizing: border-box;
	margin: 50px auto;
	background: #ffffff;
	background-image: url("img/bicycle.png");
	background-repeat: no-repeat;
	background-position: top 260px right -40px;
	background-size: 400px auto;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header {
	width: 100%;
	display: flex;
	justify-content: center;
}

.header .content-wrapper {
	width: 90%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-flow: row wrap;
}

.content-wrapper img {
	border: 1px #dedede solid;
	border-radius: 50%;
	padding: 8px;
	box-shadow: 30px #dedede;
	transition: box-shadow 0.2s ease-in;
}

.header img:hover {
	box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.05);
}

.order-summary .content-wrapper p {
	font-size: 0.875em;
	color: #b7adaa;
}

.order-summary {
	width: 100%;
	display: flex;
	justify-content: center;
}

.order-summary .content-wrapper {
	width: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.order-summary p {
	color: #5c5c5c;
	font-size: 1em;
	font-weight: normal;
}

.order-details {
	width: 100%;
	display: flex;
	justify-content: center;
}

.order-details .content-wrapper {
	width: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}

.line-item {
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: space-between;
	width: 100%;
}


.line-item span {
	color: #000;
	font-size: 1em;
	font-weight: bold;
}

.cost {
	font-weight: bold;
}

strong {
	font-size: 1em;
}

@media only screen and (min-width: 768px) {
	.container {
		width: 70%;
		max-width: 600px;
		background-position: top 200px right -25px;
		background-size: 575px auto;
		padding: 25px 45px;
	}

}

@media only screen and (min-width: 1000px) {
	.container {
		width: 70%;
		max-width: 600px;
		background-position: top 200px right -15px;
		background-size: 625px auto;
		padding: 25px 45px;
	}

}

@media only screen and (min-width: 1200px) {
	.container {
		width: 70%;
		background-position: top 190px right -30px;
		background-size: 650px auto;
		padding: 25px 45px;
	}

}